html {
	height: 100%;
}
body {
  min-height: 100%;
}
.pho {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
header{
    background-color: white;
   height:100px;
}
.find{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.opt{
    margin-top: 35px;
}
.go{
    font-family: "Open Sans", sans-serif;
background-color: #D9D9D9;
color:black;
border-radius: 45px;
text-decoration: none;
padding:5px;
font-size: 20px;
padding-left:10px;
padding-right:10px;
}
.photos{
    margin-top:100px;
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
    margin-left: 5vw;

}
#map{

    width:90vw;
    height:600px;
    background-color: #D9D9D9;
    margin:auto;
    margin-top:300px;
}

.fin{
    width:300px;
    display: block;
    position: relative;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    height:300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    color: #fff;
    font-size: 40px;
    transition: opacity .4s linear;
    border-radius:25px;
}

span:hover {
    opacity: 1;
}
.inf{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    transform: translateY(110px);
}
.ph{
    height:300px;
    width: 300px;
}
.popular{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 64px;
    margin-left:5vw;
}