<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Нижний</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <main>
    <header>
<div class="find">
    <div class="logo"><a href="/"><img src="{% static 'logo.png'%}" alt="logo" class="logo"></a></div>
    <div class="opt"><a href="/place" class="go">Куда пойти</a></div>
    <div class="opt"><a href="" class="go">Где остановиться</a></div>
    <div class="opt"><a href="" class="go">События</a></div>
    <div class="opt"><a href="" class="go">Детский путеводитель</a></div>
    <div class="opt"><a href="" class="go">Помощь</a></div>
</div>
</header>
</main>
<a href="https://nn-grad.ru/bank/11/detskij_putevoditel_po_nizhnemu_novgorodu.pdf">Детская программа</a>
</body>
</html>