<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'logo.png'%}" />
    <meta charset="UTF-8">
    <title>Помощь</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/help.css'%}">
</head>
<body>
    <main>
    <header>
<div class="find">
    <div class="logo"><a href="/"><img src="{% static 'logo.png'%}" alt="logo" class="logo"></a></div>
    <div class="opt"><a href="/place" class="go">Куда пойти</a></div>
    <div class="opt"><a href="/hotel" class="go">Где остановиться</a></div>
    <div class="opt"><a href="/" class="go">События</a></div>
    <div class="opt"><a href="/child" class="go">Детский путеводитель</a></div>
    <div class="opt"><a href="/help" class="go1">Помощь</a></div>
</div>
</header>
<div class="photos">
  <div><a href="/place" class="fin">

      <img src="{% static 'fejk.jpg'%}" class="ph">
      <p>Памятки прокуратуры г.Н.Новгорода о поддельных сайтах</p>
    </a></div>
    <div><a href="/place" class="fin">

      <img src="{% static 'linia.jpg'%}" class="ph">
      <p>
        В России стартовала "горячая линия" по вопросам защиты прав потребителей туристских услуг</p>
    </a></div>
    <div><a href="/place" class="fin">

      <img src="{% static 'show.jpg'%}" class="ph">
      <p>
        Федеральный закон, предусматривающий перенос даты обязательной аттестации экскурсоводов и отсрочку применения электронной путевки опубликован и вступил в силу
        </p>
    </a></div>
    <div><a href="/place" class="fin">

      <img src="{% static 'poezd.jpg'%}" class="ph">
      <p>Новые санитарные нормы перевозки организованных групп детей по РЖД</p>
    </a></div>
    <div><a href="/place" class="fin">

      <img src="{% static 'travel.jpg'%}" class="ph">
      <p>Аналитики Минэкономразвития спрогнозировали турпоток внутри России в 2023 году и по ТОП-18 ключевым направлениям</p>
    </a></div>
    <div><a href="/place" class="fin">

      <img src="{% static 'info.jpg'%}" class="ph">
      <p>
        Единая информационная система "Электронная путевка" для внутреннего туризма заработает 1 марта 2024 года</p>
    </a></div>
</div>
</main>

<footer>
  
    <div class="link">
  <p class="cont">Контакты:</p>
  <p class="telep">+7 (831) 434-04-59</p>
  <p class="pocht">info@nn-grad.ru</p>
  <a href="https://vk.com/nn_grad"><img src="{% static 'vk.png'%}" alt="vk" class="vk"></a>
  <a href="https://t.me/nn_grad"><img src="{% static 'tg.png'%}" alt="tg" class="tg"></a>
  </div>
  <div class="pid">
  <p class="contik">Расскажем о городе(ТИЦ)</p>
  <p class="lolka">Кремль, 7</p>
  <p class="lol">ул. Костина, 2</p>
  </div>
  <a href="/admin">
  <div class="or">
    <img src="{% static 'profi.png'%}" alt="" class="prof">
    <p class="panel">Панель администратора</p>
  </div>
</a>
  </footer>
</body>
</html>