<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'logo.png'%}" />
    <meta charset="UTF-8">
    <title>Нижний</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <main>
    <header>
<div class="find">
    <div class="logo"><a href="/"><img src="{% static 'logo.png'%}" alt="logo" class="logo"></a></div>
    <div class="opt"><a href="/place" class="go">Куда пойти</a></div>
    <div class="opt"><a href="" class="go">Где остановиться</a></div>
    <div class="opt"><a href="" class="go">События</a></div>
    <div class="opt"><a href="" class="go">Детский путеводитель</a></div>
    <div class="opt"><a href="" class="go">Помощь</a></div>
</div>
</header>
<img src="{% static 'image-1.png'%}" alt="" class="pho">
</main>
<p class="popular">Самые посещаемые места</p>
<div class="photos">
    <div><a href="" class="fin">
        <img src="{% static 'image.png'%}" class="ph">
        <span class="mask">
          <p class="inf">Чкаловская лестница</p>
        </span>
      </a></div>
      <div><a href="" class="fin">
        <img src="{% static 'image-2.png'%}" class="ph">
        <span class="mask">
          <p class="inf">Стрелка</p>
        </span>
      </a></div>
      <div><a href="" class="fin">
        <img src="{% static 'image-3.png'%}" class="ph">
        <span class="mask">
          <p class="inf">Нижегородский Кремль</p>
        </span>
      </a></div>
</div>
<div class="map"></div>
</body>
</html>
