<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'logo.png'%}" />
    <meta charset="UTF-8">
    <title>Нижний</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=42544b33-4c3a-453d-80bb-acebe1c1cda8&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [56.328673, 44.003059],
            controls: [],
            zoom: 13
        });
        myGeoObject = new ymaps.GeoObject({
            // Описание геометрии.
            geometry: {
                type: "Point",
                coordinates: [56.337386, 43.964610]
            }})
        var myPlacemark = new ymaps.Placemark([56.337386, 43.964610], {}, {
            iconLayout: 'default#image',
            iconImageHref: '{% static 'mark.png'%}',
            iconImageSize: [30, 42],
            iconImageOffset: [-3, -42]
        });
        myMap.geoObjects.add(myPlacemark)
    }
</script>
</head>
<body>
    <main>
    <header>
<div class="find">
    <div class="logo"><a href="/"><img src="{% static 'logo.png'%}" alt="logo" class="logo"></a></div>
    <div class="opt"><a href="/place" class="go">Куда пойти</a></div>
    <div class="opt"><a href="/hotel" class="go">Где остановиться</a></div>
    <div class="opt"><a href="/" class="go">События</a></div>
    <div class="opt"><a href="/child" class="go">Детский путеводитель</a></div>
    <div class="opt"><a href="/help" class="go">Помощь</a></div>
</div>
</header>
<img src="{% static 'image-1.png'%}" alt="" class="pho">
</main>
<p class="osn"><b>1221</b>- основание Нижнего Новгорода</p>
<p class="popular">Самые посещаемые места</p>
<div class="photos">
    <div><a href="/place" class="fin">
        <img src="{% static 'image.png'%}" class="ph">
        <span class="mask">
          <p class="inf">Чкаловская лестница</p>
        </span>
      </a></div>
      <div><a href="/place" class="fin">
        <img src="{% static 'image-2.png'%}" class="ph">
        <span class="mask">
          <p class="inf">Стрелка</p>
        </span>
      </a></div>
      <div><a href="/place" class="fin">
        <img src="{% static 'image-3.png'%}" class="ph">
        <span class="mask">
          <p class="inf">Нижегородский Кремль</p>
        </span>
      </a></div>
</div>
<div id="map"></div>
<footer>
<p class="cont">Контакты:</p>
<p class="telep">+7 (831) 434-04-59</p>
<p class="pocht">info@nn-grad.ru</p>
<div class="link">
  <img src="{% static 'vk.png'%}" alt="vk" class="vk">
  <img src="{% static 'tg.png'%}" alt="tg" class="tg">
</div>
</footer>
</body>
</html>
